<?php /** @var $block \Jaui\Careers\Block\Careers\View\Content */

/** @var \Jaui\Careers\Model\Careers $item */
$item = $block->getItem();
?>
<div>
    <p><?= $block->escapeHtml($block->getTitle()); ?></p>
    <p><?= $block->getContent(); ?></p>
</div>
<div>
    <?= $block->getShareToAnyCodeHtml(); ?>
</div>
<?= $block->getChildHtml('careers.item.view.form'); ?>