<?php
/** @var \Magento\Framework\View\Element\Template $block */

/** @var \Jaui\Careers\Model\Category $item */
$item = ($block->getItem()) ? $block->getItem() : null;
?>
<?php if ($item): ?>
    <li>
        <button type="button" data-category-id="<?= (int)$item->getId(); ?>" class="js-load-careers-category-items">
            <?= $item->getTitle(); ?>
        </button>
    </li>
<?php else : ?>
    <li class="active">
        <button type="button" data-category-id=" " class="js-load-careers-category-items">
            <?= /* @escapeNotVerified */ __('All') ?>
        </button>
    </li>
<?php endif; ?>